<div class="container">
    <nav class="navbar navbar-light">
            <!-- <div class="logo"></div> -->
            <!-- <h1 class="headerText">Conduent Messaging Service</h1> -->
            <div class="container-fluid">
                <div class="navbar-header">
                       <div class="logo"></div> 
                          <h1 class="headerText">Conduent Messaging Service</h1>
                </div>
                
                
                
            </div>
         </nav>
         <hr style="margin: 0;"/>
</div>