
   
  
   <div class="container containerBorder">
      
    <form #formname>
        
        <pre>{{formname.value | json}}</pre>
        <div class="form-group">
            <label for="username" [appHightlightColor]="'green'">Username:</label>
            <input type="text"  class="form-control"/>
        </div>
        
        
        
        <div class="form-group">
            <label for="username" [appHightlightColor]="'yellow'">Password:</label>
            <input type="password" class="form-control"/>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <button type="button" (click)="callMessage(formname.value)" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
       
        </form>
    </div>
    
